
<div class="container">
    <div class="row p-4"> 
        <div class="col-12 justify-content-center text-center">
            <h1 LineTitle>• Sobre Nosotros •</h1>
        </div>
    </div>
    <div class="col-12 justify-content-center">
        <dynamic-vertical-card
          titulo="¡Hola, soy Romina!"
          descripcion="Estoy muy feliz de verte acá."
          imagen="https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg">
        </dynamic-vertical-card>
      </div>
    <div class="row justify-content-center">
    <div class="p-4">
        <p >Soy Romina, emprendedora y directora de DCD Eventos.
            En 2010 empecé a trabajar en la organización y ambientación de eventos sociales, corporativos e infantiles. Después de unos años decidí enfocarme en lo que más me gusta y en 2013 abrí la tienda online para brindarte los mejores productos personalizados para todo tipo de eventos, hechos a mano y con mucho amor para tu gran día. Los podés adquirir en forma rápida y sencilla sin moverte de tu casa desde cualquier ciudad de Argentina.
             
            
            Ambientá vos misma/o
            Si te gusta ambientar tu evento y le querés imprimir tu toque personal podés comprar diversos productos de decoración de acuerdo a lo que necesites. Además, diseño y creo los productos que se te ocurran.
            
            ¡Mirá todo lo que podés encontrar en la tienda!
            
            ❤ Invitaciones, digitales e impresas, y tarjetas save the date, para que todos reserven la fecha de tu evento y no falte nadie.
            ❤ Papelería con diseño: menúes, lista de tragos, servilleteros, y más. Elegís colores y/o temática y sale todo súper personalizado tal cual lo soñaste. 
            ❤ Abanicos de papel, podés incluir el programa de tu boda, una frase o lo que se te ocurra.
            ❤ Banderines y adornos para torta, ideales para darle color a tu evento.
            ❤ Carteles y flechas con las palabras o frases que más te gusten.
            ❤ Buzones / Urnas, para recibir regalos en efectivo.
            ❤ Kits de baño / toilette / kits anti resaca, para solucionar imprevistos en tu gran día.
            ❤ Números de mesa e indicadores de sitio, para que ningún invitado se pierda.
            ❤ Kits para el civil / ceremonia (pulseras novios y testigos, conitos / bolsitas con arroz, abanicos, carteles y latitas de la suerte para el auto, etc.)
            ❤ Props: Carteles con frases, accesorios divertidos, props y marco polaroid XL para ambientar el rincón de fotos de tu fiesta (photobooth).
            ❤ Chocolates y golosinas personalizadas: son muy ricas y geniales para obsequiar como souvenir o complemento de la mesa dulce.
            ❤ Raspaditas: para hacer algún juego durante la fiesta y/o dar regalos a los invitados.
            ❤ Pulseras de papel: personalizadas con el diseño que desees.
            ❤ Souvenirs, bolsitas y stickers, para sorprender a todos y quedar como los dioses.
            ❤ Cajas temáticas para festejar en casa: party box, una opción que llegó para quedarse.</p>
    </div>
</div>

