
<div class="container">
    <div class="row p-4"> 
        <div class="col-12 justify-content-center text-center">
            <h1 LineTitle>• Sobre Nosotros •</h1>
        </div>
    </div>
    <div class="col-12 justify-content-center">
        <dynamic-vertical-card
          titulo="¡Hola, soy Romina!"
          descripcion="Estoy muy feliz de verte acá."
          imagen="https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg">
        </dynamic-vertical-card>
    </div>
    <div class="row justify-content-center">
    <div class="p-4">
        <h4 class="justify-content-center text-center">Nuestra Historia</h4>
            <p>¡Hola! Soy Romina, la creadora detrás de este emprendimiento lleno de amor y creatividad. Todo comenzó en 2020, un año que nos marcó a todos debido a la pandemia de COVID-19. En medio de ese tiempo tan desafiante, desde mi hogar en Alejandro Korn, surgió la idea de combinar dos de mis pasiones: el diseño y los detalles personalizados.</p>
            <p>Desde entonces, me dedico a crear tarjetas de cumpleaños únicas, packaging para bombones y cajitas de regalo, toppers cake, centros de mesa, banderines y mucho mas, todo impreso y diseñado a medida para cada ocasión especial. Mi misión es transformar esos pequeños detalles en recuerdos inolvidables, con un toque personalizado que haga sentir especial a quien lo recibe.</p>
            <p>Cada diseño que creo está pensado para capturar la esencia de ese momento especial, ya sea un cumpleaños, un aniversario o cualquier celebración que merezca un toque único. En cada caja, en cada tarjeta, pongo todo mi cariño para que refleje los deseos y emociones de quienes confían en mí para sorprender a sus seres queridos.</p>
    </div>
</div>

