<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product()) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="bruanApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ product()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.productName">Product Name</span></dt>
          <dd>
            <span>{{ product()!.productName }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.productDescription">Product Description</span></dt>
          <dd>
            <span>{{ product()!.productDescription }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.price">Price</span></dt>
          <dd>
            <span>{{ product()!.price }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.image">Image</span></dt>
          <dd>
            @if (product()!.image) {
              <div>
                <a (click)="openFile(product()!.image ?? '', product()!.imageContentType)">
                  <img
                    [src]="'data:' + product()!.imageContentType + ';base64,' + product()!.image"
                    style="max-width: 100%"
                    alt="product"
                  />
                </a>
                {{ product()!.imageContentType }}, {{ byteSize(product()!.image ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="bruanApp.product.createDate">Create Date</span></dt>
          <dd>
            <span>{{ product()!.createDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.lastModifyDate">Last Modify Date</span></dt>
          <dd>
            <span>{{ product()!.lastModifyDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.isActive">Is Active</span></dt>
          <dd>
            <span>{{ product()!.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="bruanApp.product.categories">Categories</span></dt>
          <dd>
            @for (categories of product()!.categories; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/category', categories.id, 'view']">{{ categories?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/product', product()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
