<bio-cards></bio-cards>

<div class="text-center my-4">
    <h1 LineTitle>• SEGUINOS •</h1>
</div>
  
<div class="d-flex justify-content-center my-3">
  <a href="#" class="mx-2"><i class="fab fa-instagram icon-size"></i></a>
  <a href="#" class="mx-2"><i class="fab fa-facebook-f icon-size"></i></a>
  <a href="#" class="mx-2"><i class="fab fa-tiktok icon-size"></i></a>
  <a href="#" class="mx-2"><i class="fab fa-pinterest icon-size"></i></a>
</div>
  
<div class="row text-center my-4">
  <div class="col-md-4">
    <i class="fas fa-truck"></i>
    <h5 class="font-weight-bold">• ENVÍOS EN ARGENTINA •</h5>
    <p>Estamos trabajando para enviar a todo el país, próximamente mas información</p>
  </div>
  <div class="col-md-4">
    <i class="fab fa-whatsapp"></i>
    <h5 class="font-weight-bold">• ¿TENÉS DUDAS? •</h5>
    <p>Atención personalizada desde el primer momento: escríbanos ahora por Whatsapp y sáquese todas las dudas.</p>
  </div>
  <div class="col-md-4">
    <i class="fas fa-lock"></i>
    <h5 class="font-weight-bold">• CLIENTAS FELICES Y SEGURAS •</h5>
    <p>Vamos a implementar próximamente la tienda con la mejor seguridad!</p>
  </div>
</div>