.carousel {
  width: 100vw; /* Ancho completo de la ventana */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-item img {
  width: 100vw; /* Imagen ocupa todo el ancho de la ventana */
  height: 85vh; 
  object-fit: cover; /* Ajusta la imagen para que cubra toda el área */
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente para mejor visibilidad del texto */
  padding: 1rem;
}
.carousel {
  margin-top: 30px; 
}
