<div id="carousel" class="carousel carousel-dark slide container-custom" data-bs-ride="carousel">
  <div class="carousel-inner">
    @for (sliderConfiguration of sliderConfigurations; track sliderConfiguration; let idx = $index, e = $even) {
      <div  class="carousel-item" [ngClass]="{'active': idx === 0}" data-bs-interval="10000">
          <img [src]="getImageSrc(sliderConfiguration)" alt="Product Image">
          <div class="carousel-caption d-none d-md-block">
              <h5>{{ sliderConfiguration.sliderName }}</h5>
              <p>{{ sliderConfiguration.sliderDescription }}</p>
          </div>
      </div>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>