<div class="container">
  <div class="row justify-content-center text-center">
    <!-- Componente de filtro -->
    <product-filter class="pb-4"
    [selectedCategory]="selectedCategory"
    (filterNameChange)="onFilterNameChange($event)"
    (filterCategoryChange)="onFilterCategoryChange($event)"
    ></product-filter>
    
    <!-- Mostrar las tarjetas filtradas -->
    <div class="row justify-content-left p-0">
      @for (product of filteredProducts | paginate: { itemsPerPage: 8, currentPage: page } ; track product) {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card image-container">
            <img [src]="getImageSrc(product)" alt="Product Image">
            <div class="card-body">
              <h4 class="card-title">{{ product.productName }}</h4>
              <p class="card-text">{{ product.productDescription }}</p>
              <p class="card-text">Precio: ${{ product.price }}</p>
              <p class="card-text">
                Categorías:
                <span *ngFor="let category of product.categories; let isLast = last">
                  {{ getCategoryName(category.id) }}<span *ngIf="!isLast">, </span>
                </span>
              </p>
            </div>
            <div class="card-footer card-actions">
              <button class="btn" translateTopHover (click)="navigateToUrl()">Próximamente Online</button>
            </div>
          </div>
        </div>
      }
      @empty {
        <div class="alert alert-info text-center" role="alert">
          No se encontraron productos que coincidan con tu búsqueda.
        </div>
      }
    </div>
  </div>
</div>

<!-- Paginación -->
<pagination-controls class="justify-content-center text-center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
