<div class="container">
    <div class="row justify-content-center text-center">
      <h1>Todos Nuestros Productos</h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" name="filterName" placeholder="filtra por nombre..." [(ngModel)]="title">
          </div>
        </div>
      </div>
@for ( card of cards | filterBy:title | paginate: {itemsPerPage: 4, currentPage: page} ; track card ) {
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card image-container">
              <img class="card-img-top image" [src]="card.image" alt="Card Image">
              <div class="card-body">
                <h4 class="card-title">{{ card.title }}</h4>
                <p class="card-text">{{ card.description }}</p>
                <p class="card-text">Precio: ${{ card.price }}</p>
              </div>
              <div class="card-footer card-actions">
                <button class="btn" translateTopHover>Agregar al carrito</button>
              </div>
            </div>
          </div>
} 
</div>
</div>

<pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>