<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 col-lg-6 justify-content-center">
        <dynamic-vertical-card
          titulo="¡Hola, soy Romina!"
          descripcion="Estoy muy feliz de verte acá."
          imagen="https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg">
        </dynamic-vertical-card>
      </div>
      <div class="col-12 col-xl-6 col-lg-6 justify-content-center">
        <dynamic-vertical-card
          titulo="Clientas Felices"
          descripcion="Amamos recibir sus mensajes ❤️ ¡Mirá todas las opiniones!"
          imagen="https://img.freepik.com/fotos-premium/abstracto-gotas-llama-brillante-iluminacion-electrica-ia-generativa_1038396-44.jpg">
        </dynamic-vertical-card>
      </div>
    </div>
  </div>